.sidenav {
  height: 100%;
  position: fixed !important;
  overflow: auto;
  width: 300px;
  display: block;
}
.panel {
  position: absolute;
  display: none;
}
.main-content {
  margin-left: 300px;
}
.link {
  padding: 15px;
  width: calc(100% - 30px);
  background: rgba(255, 255, 255, .5);
  transition: background 500ms;
}
.link:hover {
  background: rgba(255, 255, 255, .8);
}
.navlist {
  list-style-type: none;
  padding: 10px;
  background: blue;
}
