.sidenav {
  height:100%;
  position:fixed!important;
  overflow:auto;
  width:300px;
  display:block;
}
.panel {
  position:absolute;
  display:none;
}
.main-content {
  margin-left:300px;
}
.link {
  padding:25px;
  width:100%;
  background: rgba(255, 255, 255, .5);
  transition-duration: 500ms;
}
.link:hover {
  background: rgba(255, 255, 255, .8);
}
.navlist {
  list-style-type:none;
  background:blue;
}
